<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abbas - Portfolio</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/style.css" />

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c4124ecb75.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css" />
</head>

<body>
    <nav class="header">
        <span class="page-title">AM</span>
    </nav>
    <section id="profile">
        <div class="profile">
            <span class="section-head">Profile</span>
            <div class="profile-info">
                <div class="row mb-5">
                    <div class="profile-dp"></div>
                    <div class="side-info">
                        <span><a href="#"><i class="fa fa-map-marker"></i>Hyderabad, IN</a></span>
                        <span><a href="mailto:me@abbasmj.com"><i class="fa fa-envelope"></i>me@abbasmj.com</a></span>
                        <span><a href="https://github.com/iam-abbas" target="_blank"><i
                                    class="fa fa-github"></i>iam-abbas</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="author-sup">
                            <span class="author-title">Abbas Mohammed</span>
                            <div class="line"></div>
                        </div>
                        <div class="author-about">
                            <p>
                                Developer with profound experience in Full Stack Development,
                                Data Science and DevOps. Visiting Student
                                Alumnus at UC Berkeley and Computer Science major at SRM
                                University AP. Have shipped over
                                a dozen high end products in the realm of Software development, Mobile App development,
                                Machine Learning,
                                NLP and Computer Vision. Active
                                contributor of the Open Source community.
                            </p>
                            <a href="/Resume/Resume.pdf" target="_blank">
                                <span class="btn btn-primary mt-3 mb-5 mx-1">
                                    <i class="fa fa-code mr-2"></i>
                                    View Resume
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="author-sup">
                            <span class="author-title">Relavent Skills</span>
                            <div class="line"></div>
                        </div>
                        <div class="skills">
                            <h5>Languages</h5>
                            <p>
                                <i class="fab fa-python"></i>
                                <i class="fab fa-js-square"></i>
                                <i class="fab fa-java"></i>
                                <i class="fab fa-html5"></i>
                                <i class="fab fa-css3"></i>
                                <i class="fab fa-php"></i>
                                <i class="devicon-mysql-plain-wordmark"></i>
                                <i class="devicon-cplusplus-plain"></i>
                            </p>
                            <h5>Tools</h5>
                            <p>
                                <i class="fab fa-docker"></i>
                                <i class="fab fa-git"></i>
                                <i class="fab fa-aws"></i>
                                <i class="devicon-google-plain"></i>
                                <i class="devicon-redis-plain"></i>
                                <i class="fab fa-sketch"></i>
                            </p>
                            <h5>Frameworks/Modules</h5>
                            <p>
                                <i class="fab fa-react"></i>
                                <i class="fab fa-node"></i>
                                <i class="devicon-bootstrap-plain"></i>
                                <i class="devicon-d3js-plain"></i>
                                <i style="font-size: 16px">Tensorflow</i>
                                <i style="font-size: 16px">Pandas</i>
                                <i style="font-size: 16px">SkLearn</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="work">
        <div class="work">
            <span class="section-head" style="margin-top: 80px;">Work Experience</span>
            <div class="timeline-container">
                <ul class="timeline">
                    <li class="timeline-item" ng-repeat="item in retailer_history" style="height: 200px"></li>
                    <li class="timeline-item" ng-repeat="item in retailer_history">
                        <div class="item-info">
                            <span class="company">Predli Co.</span>
                            <span class="period">June 2020 - <strong>Present</strong></span>
                        </div>
                        <div class="item-title">Full Stack Developer - Intern</div>
                        <div class="item-detail">
                            Working on Data Science projects involving Machine Learning and Statistics.
                            Using Technologies like AWS, Git, Docker, Kubernetes, Pandas, SkLearn, etc.
                            Developing scalable high-end web software using Flask, MySQL, D3.js, HTML/CSS.
                        </div>
                    </li>
                    <li class="timeline-item" ng-repeat="item in retailer_history">
                        <div class="item-info">
                            <span class="company">UC Berkeley</span>
                            <span class="period">Jan 2020 - June 2020</span>
                        </div>
                        <div class="item-title">Undergraduate Researcher</div>
                        <div class="item-detail">
                            Worked along with Berkeley Innovation Index to conduct research in the field of People
                            Sciences and builing Project-BIT a statistically backed Data visualization tool that
                            helps industry professionals with mentoring and interventions .
                        </div>
                    </li>

                    <li class="timeline-item" ng-repeat="item in retailer_history">
                        <div class="item-info">
                            <span class="company">Next Tech Lab</span>
                            <span class="period">Ocober 2018 - <strong>Present</strong></span>
                        </div>
                        <div class="item-title">Student Researcher</div>
                        <div class="item-detail">
                            Built 10+ projects in the field of Machine Learning, Computer Vision and NLP. Publishing
                            multiple researchs in high end journals like IEEE and ACM. Collaborating globally to conduct
                            research on state of the art Technologies.
                        </div>
                    </li>
                    <li class="timeline-item" ng-repeat="item in retailer_history">
                        <div class="item-info">
                            <span class="company">Freelance</span>
                            <span class="period">Ocober 2015 - <strong>Present</strong></span>
                        </div>
                        <div class="item-title">Full Stack Developer</div>
                        <div class="item-detail">
                            Shipped over 20 Web apps, Mobile Apps, and Softwares. Worked with Starts from globally
                            renouned accelerators like Y-Combinator, Entrepreneur First, etc. Working with Singapore
                            based startup on a contract basis.
                        </div>
                    </li>
                    <li class="timeline-item" ng-repeat="item in retailer_history" style="height: 100px"></li>
                </ul>
            </div>
        </div>
    </section>
    <footer>
        <!-- <span class="section-head" style="margin-top: 80px;">Find Me</span> -->

        <div class="rights">
            <a href="https://linkedin.com/in/abbas-mj" target="_blank">
                <span class="btn btn-primary mt-3 mb-5  mx-1">
                    <i class="fa fa-linkedin"></i>
                </span>
            </a>
            <a href="#">
                <span class="btn btn-primary mt-3 mb-5  mx-1">
                    <i class="fa fa-twitter"></i>
                </span>
            </a>
            <a href="#">
                <span class="btn btn-primary mt-3 mb-5  mx-1">
                    <i class="fa fa-facebook"></i>
                </span>
            </a>
            <br />
            All Rights Reserved. Abbas Mohammed - 2020</div>
    </footer>
</body>

</html>